/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/


.login-form{
	background: url(../images/bright.png) repeat;
	padding:2em 0;
}

/**--seventh-----**/
.login-07{
	background: url(../images/bg-7.jpg) repeat;
	padding: 5em 0;
}
.seventh-login h3{
	color:#625E5E;
	font-weight: 400;
	font-size: 1.6em;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 1em;
}
.seventh-login input[type=text],.seventh-login input[type=password] {
	float:left;
	width:76%;
	padding: 1em 2em 1em 1em;
	border:none;
	color: #b8b8b8;
	font-size:15px;
	float: left;
	outline: none;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
form.seven li{
	display: block;
	color: #4D4949;
	border: 1px solid #D6D0D0;
	margin-bottom: 10px;
	background: #f7f7f7;
}
.seventh-login {
background: #f7f7f7;
padding: 3em 2em 5em 2em;
border: 15px solid#0e98b8;
}
.icon8
{
	height:7px;
	width:7px;
	display: block;
	float: right;
	margin: 23px 23px 3px 8px;
}
.star,.into{
	background:url(../images/star.png)no-repeat 0px 0px;
}
.seventh-login input[type="submit"] {
font-size: 25px;
font-weight: 600;
color: #fff;
display: inline-block;
padding: 0.7em 0em;
width: 100%;
font-family: 'Oswald', sans-serif;
cursor: pointer;
-webkit-appearance: none;
border: none;
outline: none;
background:#14b9d6;
}
.seventh-login input[type="submit"]:hover{
	background:#0e9db6;
}

/*-----start-responsive-design------*/
@media (max-width:1440px){
	.block{
	padding: 1.8em 0em;
	background:url(../images/tips.png) no-repeat 156px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 156px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 156px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding:1em 1em;
	width: 97.85%;
	}

}
@media (max-width:1366px){
	.eight-login input[type="submit"] {
	padding:1em 1em;
	width: 97.7%;
	}
	.first-login,.second-login,.fourth-login,.fifth-login,.sixth-login,.seventh-login,.eight-login,.nineth-login,.third-login{
	width: 32%;
	margin:0 auto;
	}
	.block{
	padding: 1.8em 0em;
	background:url(../images/tips.png) no-repeat 160px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 159px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 159px -1px #4daf7c;
	}
	.third-login input[type="text"],.third-login input[type="password"] {
	width: 81%;
	}
}
@media (max-width:1280px){
	.fifth-login input[type="text"], .fifth-login input[type="password"] {
		width: 81%;
	}
	.fb lable {
	font-size: 17px;
	width: 64%;
	}
	.block {
	padding: 1.8em 0em;
	background: url(../images/tips.png) no-repeat 160px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 160px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 159px -1px #eac85d;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 97%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 78%;
	}
	.first-login,.second-login,.fourth-login,.fifth-login,.sixth-login,.eight-login,.nineth-login{
	width: 35%;
	margin:0 auto;
	}

}
@media (max-width:1024px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 42%;
	margin: 0 auto;
	}
	.seventh-login,.third-login,.tenth-login{
	width:38%;
	margin: 0 auto;
	}
	.login-05 {
	padding:3em 0;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 76.35%;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 97.77%;
	}
}
@media (max-width:768px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 54%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 50%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 146px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 146px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 145px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 98.2%;
	}
	.nineth-login input[type="submit"] {
	font-size: 23px;
	padding: 0.95em 4em;
	}
}
@media (max-width:640px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 67%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 67%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 157px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 157px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 157px -1px #4daf7c;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 79.35%;
	}
}
@media (max-width:480px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 86%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 85%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 142px 0px #404141;
	}
	.fourth-login input[type="submit"] {
	background: url(../images/tip1.png) no-repeat 144px -1px #eac85d;
	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 144px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 99.5%;
	}
	.third-login input[type="submit"] {
	padding: 0.7em 0.7em;
	}
	.login-08 {
	padding:3em 0;
	}
	.seventh-login{
	width: 76%;
	margin: 0 auto;
	}
	.seventh-login input[type=text], .seventh-login input[type=password] {
	float: left;
	width: 71%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 77.35%;
	}
	.login-10 {
	padding: 4em 0;
	}
}
@media (max-width:320px){
	.first-login,.fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width:85%;
	margin: 0 auto;
	}
	.fifth-login input[type="text"], .fifth-login input[type="password"] {
	width: 73%;
	font-size:15px;
	}
	.login-05 {
	padding: 2em 0;
	}
	form.six {
	padding: 14% 0.9em;
	}
	.sixth-login input[type="text"], .dark-o input[type="password"] {
	font-size:15px;
	width: 67%;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 92%;
	margin: 0 auto;
	}
	.fb lable {
	font-size: 15px;
	width: 71%;
	padding: 10px 10px;
	}
	.submit-three {
	margin-top: 1.3em;
	}
	.tenth-login h4 {
	font-size: 1.2em;
	padding: 1em 0em;
	}
	.tenth-login input[type="text"], .tenth-login input[type="password"] {
	width: 60%;
	padding: 0.7em 0.6em;
	font-size: 16px;
	}
	.tenth-login input[type="submit"] {
	font-size: 17px;
	padding: 0.6em 0em;
	width: 80%;
	}
	.login-10 {
	padding: 3em 0;
	}
	.icons6 {
	margin: -1px 0px 0px 1px;
	}
	.second-login input[type="submit"] {
	font-size: 16px;
	padding: 0.8em 5em;
	}
	form.four {
	padding: 13% 0.9em;
	}
	.green {
	padding: 1.4em 0em;
	}
	.fourth-login input[type="text"],.fourth-login input[type="password"] {
	font-size: 17px;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 107px 0px #404141;
	}
	.fourth-login input[type="submit"] {
	background: url(../images/tip1.png) no-repeat 107px -1px #eac85d;
	padding: 0.8em 1em;
	font-size:25px;
	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 107px -1px #4daf7c;
	}
	.eight-login input[type=text],.eight-login input[type=password] {
	width: 81%;
	font-size: 16px;
	}
	.seventh-login{
	width: 60%;
	margin: 0 auto;
	}
	 .third-login{
	 width: 90%;
	margin: 0 auto;
	 }
	.seventh-login input[type=text], .seventh-login input[type=password] {
	float: left;
	width: 66%;
	font-size: 14px;
	padding: 0.6em 0.6em;
	}
	.seventh-login h3 {
	font-size: 1.2em;
	}
	.seventh-login input[type="submit"] {
	font-size: 20px;
	padding: 0.4em 0.4em;
	}
	.login-07 {
	padding: 3em 0;
	}
	.login-08 {
	padding: 2em 0;
	}
	.icon8 {
	margin: 15px 23px 3px 8px;
	}
	.login-03 {
	padding: 3em 0;
	}
	.third-login p {
	font-size: 15px;
	padding-bottom: 10px;
	}
	form.three {
	padding: 6% 1.9em;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 70.35%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	font-size: 15px;
	}
	.icons3 {
	margin: 2px 0px 0px 10px;
	}
	.nineth-login input[type="text"], .nineth-login input[type="password"] {
	width: 55%;
	padding: 1em 1.6em;
	color: #858282;
	font-size: 17px;
	}
	.copy-right p {
	color: #333;
	font-size: 0.95em;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.7em;
	}
	.nineth-login input[type="submit"] {
	font-size: 23px;
	padding: 0.8em 4em;
	}
	.seventh-login {
	padding: 2em 2em 2em 2em;
	}
	.first-login,.second-login{
	width: 100%;
	}
	form.two {
	padding: 2% 2.9em;
	}
	.third-login h1 {
	font-size: 1.1em;
	padding: 1em 0em;
	}
	.first-login input[type="submit"] {
	padding: 1em 4em;
	}
	.first-login input[type="text"], .first-login input[type="password"] {
	padding: 1.1em 0.7em 1.1em 0.7em;
	}
	.first-login input[type="submit"] {
	padding: 0.9em 4em;
	background: url(../images/icons.png) no-repeat 20px -88px #e67469;
	}
	.first-login input[type="submit"]:hover {
	padding: 0.9em 4em;
	background: url(../images/icons.png) no-repeat 20px -88px #D65A4E;
	}
	.icon {
	margin: 16px 1px 0px 12px;
	}
	.submit {
	margin-top: 0.8em;
	}
	.first-login form {
	padding: 5% 1em;
	}
}
