<!--<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="helperService.redirectTo('/detail')">Create Bill</button>
            </div>
        </div>
        
        <div class="col-md-12 col-xs-12">
            <br />
            
        </div>
    </div>
</div>-->

<div class="row br-top">
    <div class="col-md-12 col-xs-12">
        <div class="pull-left">
            <a class="btn btn-link-1" href="" ng-click="helperService.redirectTo('/detail')"><i class="fa fa-pencil-square-o"></i> Create bill</a>
        </div>
    </div>
</div>
<br />
<div id="foo" data-role="view" data-stretch="true">
    <kendo-grid options="budgetGridOptions"></kendo-grid>
</div>
