@section scripts {
    <script src="~/App/Services/HelperService.js"></script>
    <script src="~/App/Services/AccountService.js"></script>
    <script src="~/App/ViewModels/LoginViewModel.js"></script>
    <script src="~/App/ViewModels/ResetPasswordViewModel.js"></script>
    <script src="~/App/ViewModels/ConfirmEmailViewModel.js"></script>
    <script src="~/App/ViewModels/MainViewModel.js"></script>
    <script src="~/App/ViewModels/BudgetDetailViewModel.js"></script>
}
<div ng-view></div>
